*{

    padding: 0px;
    margin: 0px;

}
.formRegis{

    background-color: rgb(109, 239, 243);
    width: 400px;
    padding: 50px;
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;
}
.formRegis h3 {

    font-size: 28px;
    color: rgb(24, 101, 163);

}
.entrada{

    width: 350px;
    padding: 1px;
    border-radius: 6px;
    border: 6px snow rgb(24, 101, 163);
    background-color: aliceblue;
    margin-bottom: 1px;
}

.Resultado {
    text-align: center;
}

.enviar {
    size: 20px;
    border: 4px solid rgb(24, 101, 163);
    border-radius: 6px;
    margin-top: 1px;
    background-color: rgb(86, 217, 250);
    font-size: 10px;
}